body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.visible-area {
  width: 90%;
  margin: 0 auto;
}

/* Top background contain */
.contain-img1 {
  display: flex;
  justify-content: left;
}

/* Top background photo */
.background-img1 {
  margin: 0;
  left: 0;
  top: 0;
}

/* Class for the hamburguer button */
.option-menu {
  display: none;
}

/* Include the main name -->Erik */
.main-name {
  font-family: 'Playfair Display', serif;
  font-weight: 400px;
  font-size: 60px;
  line-height: 60px;
  align-content: left;
}

/* Include the main text top */
.main-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 200px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 3px;
}

/* Button start collaboration */
.start-collaboration {
  background-color: #1a2236;
  width: 288px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* The ancor of start collaboration */
.start-collaboration a {
  text-decoration: none;
  color: #fff;
}

/* Don't show the imagen 2 in the bis screen */
.background-img2 {
  display: none;
}

/* This first edition is a mobile version */
@media only screen and (max-width: 770px) {
  body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .nav-bar {
    display: flex;
    justify-content: right;
  }

  .option-menu {
    color: #000;
    display: block;
    font-size: 2em;
    position: fixed;
    top: 30px;
    right: 30px;
  }

  .background-img1 {
    margin: 0;
    left: 0;
    top: 0;
  }

  .start-collaboration {
    margin-bottom: 40px;
  }

  .background-img2 {
    display: flex;
    flex: auto;
  }

  .prueba {
    display: flex;
    justify-content: center;
  }

  /* All prject container */
  .project {
    background-color: #1A2236;
  }

  /* title area of projects */
  h2 {
    font-family:  'Playfair Display', serif;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 32px;

    font-weight: 182px;
    font-size: 50px;
    line-height: 50px;
  }


  .container {
    display:grid;
    grid-template-areas: 'photo photo photo'
                          'p-name p-name p-name'
                          'uno dos tres'
                          'button button button';

    grid-template-columns: auto auto auto;
    grid-template-rows: auto 15% 10% auto;

  }

  /* General style for letters */
  .box {
    font-family: Poppins , sans-serif;;
    color: white;
  }

  /* Imag box */
  .box1 {  
    grid-area: photo;
    display: flex;
    width: 100%;
    height: 100%;
  }

  /* Main sentence: Project name goes here */
  .box2 {
    grid-area: p-name;
    display: flex;
  }

  .subtitle {
    margin-left: 5%;
    font-style: normal;
    line-height:80%;
    font-size: 160%;
  }

  /* Code button's */
  .code-button {
    background-color: #98DEDE;
    display:inline-flex;
    align-self: center;
    font-size: 80%;
    padding: 0 2vh 0 2vh;

  }

  /* Letter desing inside the Code's button */
  .align {
    display: flex;
    justify-content: center;
    color: black !important;
  }

  .box3 {
    grid-area: uno;
  }

  .box4 {
    grid-area: dos;
  }

  .box5 {
    grid-area: tres;
  }

  /* Style of button "See this project" */
  .box6  a{
    text-decoration: none;
    color: white;
  }

  .buttom-arrow {
    border: 2px solid rgb(250, 247, 247);
    margin-left: 20px;
    padding-left:10px;
    padding-right: 10px;
    display: inline-flex;
  }

  .arrow {
    display: inline-flex;
    flex: auto;
  }

  .box6 {
    grid-area: button;
    font-size: 120%;
    display: flex;
  }




}
