/* Mobile version ------------------------------------------------------------- */
@media only screen and (max-width: 770px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .visible-area {
    width: 90%;
    margin: 0 auto;
  }

  .main-name {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    line-height: 60px;
    padding: 0 auto;
  }

  /* Include the main text top */
  .main-text {
    font-family: "Poppins", sans-serif;
    font-weight: 150px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 3px;
  }

  .display-none-after {
    display: none !important;
  }

  .desktop-project > div > h1 {
    background-color: white;
    height: 100%;
    width: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  header {
    display: inline-flex;
    width: 100%;
  }

  /* Let see the icons again */
  .respmenu i,
  .respmenu input {
    display: block;
  }

  /* format of all the anchors in the list */
  .respmenu a {
    font-family: Poppins, sans-serif;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 2px solid #456789;
    max-width: 100px;
    background: #234567;
    text-align: center;
  }

  .respmenu li {
    list-style: none;
  }

  /* Position of the hamburguer on the screen */
  .respmenu input[type="checkbox"],
  .respmenu .fa-bars,
  .respmenu .fa-times {
    position: absolute;
    right: 0;
    top: 10px;
    width: 48px;
    height: 48px;
  }

  /* Make a responsive hamburguer and select the size */
  .respmenu .fa-bars,
  .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

  /* Control de opacity, with this let see the icons */
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  /* Control of the nav-bar principal */
  .respmenu {
    color: rgb(10, 10, 10);
    position: relative;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: 20px;
  }

  /* Don't let see the list items */
  .respmenu nav {
    display: none;
    margin-right: 70px;
  }

  /* Show the list when clic on the icon  xEDITEDx */
  .respmenu input:checked ~ nav {
    /* display: block; */
    color: white;
  }

  /* when show the list, delet the icon of hamburguer */
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }

  /* Don't let se the X, after clic on the burguer, this change */
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

  /* Background img 1 is in the header */
  .background-img1 {
    margin: 0;
    left: 0;
    top: 0;
  }

  .start-collaboration {
    background-color: #1a2236;
    width: 95%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  /* The ancor of start collaboration */
  .start-collaboration a {
    text-decoration: none;
    color: #fff;
  }

  .background-img2 {
    display: flex;
    flex: auto;
    min-width: 200px;
    max-width: 400px;
  }

  .prueba {
    display: flex;
    justify-content: center;
  }

  /* All prject container */
  .project {
    background-color: #1a2236;
  }

  /* title area of projects */
  .about h2 {
    font-family: "Playfair Display", serif;
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 32px;
    font-weight: 182px;
    font-size: 50px;
    line-height: 50px;
  }

  /* Class of every Section on the */
  .container {
    display: grid;
    grid-template-areas:
      "photo photo photo"
      "p-name p-name p-name"
      "uno uno uno"
      "button button button";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 15% 10% auto;
  }

  /* General style for letters */
  .box {
    font-family: Poppins, sans-serif;
    color: white;
  }

  /* Imagen box */
  .box1 {
    grid-area: photo;
    display: flex;
    width: 100%;
    height: auto;
  }

  /* Main sentence: Project name goes here */
  .box2 {
    grid-area: p-name;
    display: flex;
  }

  .subtitle {
    margin-left: 5%;
    font-style: normal;
    line-height: 80%;
    font-size: 160%;
  }

  /* Code button's */
  .code-button {
    background-color: #98dede;
    display: inline-flex;
    align-self: center;
    font-size: 80%;
    padding: 0 2vh 0 2vh;
  }

  /* Unorder list inside the projects */
  .ul-container {
    grid-area: uno;
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-size: 90%;
  }

  .ul-technologys {
    list-style-type: none;
    flex: 1;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-around;
    align-self: center;
  }

  .ul-technologys li {
    background-color: #98dede;
    color: black;
    padding: 3px 10px 3px 10px;
  }

  /* Style of button "See this project" */
  .box6 a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
  }

  .buttom-arrow {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    display: inline-flex;
  }

  .buttom-arrow p {
    border: 1px solid rgb(238, 238, 238);
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;
    display: flex;
  }

  .arrow {
    position: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }

  .box6 {
    grid-area: button;
    font-size: 120%;
    display: flex;
  }

  /* About area */
  .about {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Skills area */
  .square {
    width: 90vw;
    height: 90vw;
    margin: 5%;
    display: inline-block;
    flex-direction: column;
  }

  .skill-font-title {
    font-family: "Poppins", serif;
    font-size: 2em;
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    padding: 0;
    letter-spacing: 2px;
    place-self: center;
  }

  .skill-font-ul {
    font-family: "Poppins", serif;
    font-size: 1.4em;
    color: white;
    margin-left: 30px;
    margin-right: auto;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
  }

  .leng-color {
    background-color: #1c528a;
    background-image: url(/assets/GATO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .fram-color {
    background-color: #e2505c;
    background-image: url(/assets/CUADRADO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .skill-color {
    background-color: #febf52;
    background-image: url(/assets/FOTO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  /* Contact Form */
  .contact-section {
    margin: 0%;
    padding: 0%;
  }

  .submit-form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .submit-form > div > h2 {
    display: flex;
    padding: 20px 0 10px 20px;
    margin: 0;
  }

  .get-my-resume > p {
    margin: 10px;
    font-size: 18px;
    padding: 0;
  }

  .submit-form > .contact-inputs > p {
    display: flex;
    padding: 25px 20px 50px 20px;
    margin: 0 auto;
  }

  .inputs-group {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
  }

  .inputs-group > input {
    height: 50px;
    margin: 7px 0 7px 0;
    border-radius: 5px;
    border-color: rgba(48, 42, 42, 0.493);
    font-family: "Poppins", serif;
    font-size: 1em;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
  }

  .inputs-group > textarea {
    height: 50px;
    margin: 7px 0 7px 0;
    border-radius: 5px;
    border-color: rgba(48, 42, 42, 0.493);
    font-family: "Poppins", serif;
    font-size: 1em;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
  }

  .start-collaboration-submit button {
    background-color: #1a2236;
    color: white;
    width: 95%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  ::placeholder {
    color: rgba(56, 53, 53, 0.493);
    position: absolute;
    left: 5%;
    top: 0;
    font-family: "Poppins", serif;
    font-size: 1em;
  }

  .message-input {
    height: 112px !important;
    line-height: 2em;
    padding-left: 10px;
  }

  .footer-section {
    font-family: "Poppins", serif;
    font-size: 2em;
    color: white;
    background: #1a2236;
    height: 120px;
    padding-bottom: 10px;
    margin: 0;
    width: auto;
  }

  .get-my-resume {
    display: inline-flex;
    justify-content: center;
    margin-left: 20px;
    color: #92dcdc;
  }

  .get-my-resume > a {
    color: #92dcdc;
    display: flex;
    align-items: center;
    margin-left: 0;
    text-decoration: none;
    font-size: 0.7em;
  }

  .get-my-resume > a > i {
    padding-left: 5px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .icons > li > a {
    color: rgb(255, 255, 255);
    display: inline-flex;
    text-decoration: none;
  }

  .icons > li > a > i {
    font-size: 26px;
  }

  .ul-container ul a {
    text-decoration: none;
  }

  .contain-img1 {
    display: flex;
    justify-content: left;
    width: 100%;
    height: auto;
  }
}

/* Desktop version --------------------------------------------------------- */
@media only screen and (min-width: 770px) {
  body {
    margin: 0;
    padding: 0;
  }

  .respmenu i,
  .respmenu input {
    display: none;
  }

  .respmenu {
    width: auto;
    height: 100px;
    font-family: "Poppins", sans-serif;
    background-color: #dddfe646;
  }

  .respmenu > nav {
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .respmenu > nav > ul {
    display: inline-flex;
    justify-content: space-between;
    width: 40%;
    padding: 0;
    margin: 0;
  }

  /* Practice with animations - transitions */
  .respmenu > nav > ul > li {
    padding: 15px 40px 15px 40px;
    list-style: none;
    font-size: 16px;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-delay: 0s;
  }

  .respmenu > nav > ul > li:hover {
    font-size: 50px;
    background-color: rgba(189, 189, 189, 0.671);
  }

  .display-none {
    display: none;
  }

  .visible-area {
    width: 100%;
    display: inline-flex;
    padding: 0;
    margin: 0%;
  }

  .main-area {
    width: auto;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 5%;
    background-image: url(assets/desktop/desk-img-2.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: right;
    background-position-y: bottom;
  }

  .main-name {
    font-family: "Playfair Display", serif;
    font-size: 5vw;
    max-width: 75%;
  }

  .main-text {
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    line-height: auto;
    letter-spacing: 3px;
    max-width: 75%;
  }

  .start-collaboration {
    background-color: #1a2236;
    width: 55%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 40px auto 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .start-collaboration > a {
    text-decoration: none;
    color: #fff;
  }

  .contain-img1-desktop {
    display: flex;
    justify-content: right;
    max-width: 40%;
    flex: auto;
  }

  .contain-img1-desktop > img {
    min-width: 100%;
    height: 100%;
  }

  .patron {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
  }

  .container > div {
    display: none;
  }

  /* Grid project -------------------------------------------------- */
  .desktop-project {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
      "title title p1 p1 p1 p1"
      "p2	 p2 img1 img1 p6 p6"
      "p3	 p3 p3 img2 p5 p5"
      "img3 . img4 p4 p4 ."
      ". . img4 p4 p4 .";
    grid-template-columns: 17% 17% 17% 17% 17% 16%;
    grid-template-rows: auto auto auto auto 135px;
  }

  /* title project */
  .desktop-project > .title-project {
    grid-area: title;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/desktop/desk-img-2.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 30%;
  }

  .desktop-project > .title-project > h1 {
    transform: rotate(-90deg);
    font-size: 5vw;
  }

  /* Section 1 */
  .section1 {
    grid-area: p1;
    display: flex;
    justify-content: center;
  }

  .section1 > img {
    width: 100%;
    max-width: 960px;
    min-width: 600px;
  }

  /* Section 2 */
  .section2 {
    grid-area: p2;
    display: flex;
    justify-content: center;
  }

  .section2 > img {
    width: 100%;
    max-width: 465px;
    padding-top: 52px;
  }

  /* Section 3 */
  .section3 {
    grid-area: p3;
  }

  .section3 img {
    width: 100%;
  }

  /* Section 4 */
  .section4 {
    grid-area: p4;
  }

  .section4 img {
    width: 100%;
  }

  /* Section 5 */
  .section5 {
    grid-area: p5;
    position: relative;
  }

  .section5 img {
    width: 100%;
    max-width: 465px;
    position: absolute;
    top: -65px;
  }

  /* Section 6 */
  .section6 {
    grid-area: p6;
  }

  .section6 img {
    width: 100%;
    max-width: 465px;
    max-height: 270px;
    margin: 0;
    padding: 0;
  }

  /* Backround-images---------------------------- */
  .imag-grid-1 {
    grid-area: img1;
    width: 100%;
    height: 100%;
    max-width: 440px;
    margin: 0 auto;
  }

  .imag-grid-2 {
    grid-area: img2;
    z-index: 2;
    position: relative;
  }

  /* Red square on the left */
  .imag-grid-2 > .desk-img-2-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
  }

  /* Two figures on the right */
  .imag-grid-2 > .desk-img-2-2 {
    position: absolute;
    left: 170%;
    bottom: 6vh;
    width: 120%;
  }

  .imag-grid-3 {
    grid-area: img3;
    width: 100%;
    max-width: 212px;
  }

  .imag-grid-4 {
    grid-area: img4;
    width: 100%;
    max-width: 86px;
    min-width: 80px;
    margin-right: 0;
    margin-left: auto;
  }

  /* About section start------------------------------------------------------ */
  .about-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .dots-imagen > img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .about-section .about {
    width: 30%;
    height: 500px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: left;
  }

  .about h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    font-size: 110px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: left;
  }

  .about p {
    font-family: Poppins, serif;
  }

  .about-section .skills {
    width: 600px;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 0;
    margin-left: auto;
    margin-right: 70px;
  }

  /* Skills area */
  .square {
    width: 289px;
    height: 289px;
  }

  .skill-font-title {
    font-family: "Poppins", serif;
    font-size: 2em;
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    padding: 0;
    letter-spacing: 2px;
    place-self: center;
  }

  .skill-font-ul {
    font-family: "Poppins", serif;
    font-size: 1.4em;
    color: white;
    margin-left: 30px;
    margin-right: auto;
    letter-spacing: 2px;
  }

  .leng-color {
    background-color: #1c528a;
    background-image: url(/assets/GATO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .fram-color {
    background-color: #e2505c;
    background-image: url(/assets/CUADRADO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .skill-color {
    background-color: #febf52;
    background-image: url(/assets/FOTO.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .dots-imagen {
    position: relative;
  }

  .submit-form {
    height: 900px;
    display: grid;
    grid-template-areas:
      "ph1 input ph2"
      "ph1 input ph2"
      "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 350px auto 100px;
    position: relative;
  }

  .contact-inputs {
    grid-area: input;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-inputs > h2 {
    grid-area: input;
    margin: 2% auto 2% auto;
    font-size: 6em;
  }

  .contact-inputs > p {
    grid-area: input;
    margin: 0 15% 3% 15%;
    width: 50%;
  }

  .inputs-group {
    width: 50%;
    height: 45%;
    position: relative;
  }

  .name-input {
    height: 50px;
    width: 42%;
    margin: 7px 0 7px auto;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    border-color: rgba(48, 42, 42, 0.493);
    font-family: "Poppins", serif;
    font-size: 1em;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
  }

  .email-input {
    border-color: rgba(48, 42, 42, 0.493);
    height: 50px;
    width: 42%;
    margin: 7px auto 7px 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    font-family: "Poppins", serif;
    font-size: 1em;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
  }

  .message-input {
    border: 1px solid rgba(48, 42, 42, 0.493);
    width: 100%;
    height: 140px;
    position: absolute;
    top: 120px;
    border-radius: 5px;
    border-color: rgba(48, 42, 42, 0.493);
    font-family: "Poppins", serif;
    font-size: 1em;
    text-align: left;
    padding-top: 20px;
  }

  .start-collaboration-submit button {
    background-color: #1a2236;
    color: white;
    width: 45%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
    margin-top: 40px;
  }

  ::placeholder {
    color: rgba(56, 53, 53, 0.493);
    position: absolute;
    left: 5%;
    top: 0;
    font-family: "Poppins", serif;
    font-size: 1em;
  }

  .footer-section {
    grid-area: footer;
    width: 100%;
    border: 1px solid white;
    font-family: "Poppins", serif;
    font-size: 2em;
    color: white;
    background: #1a2236;
    padding: 0;
    display: inline-flex;
    justify-content: space-around;
  }

  .get-my-resume {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #92dcdc;
  }

  .get-my-resume > a {
    color: #92dcdc;
    display: flex;
    align-items: center;
    margin-left: 0;
    text-decoration: none;
    font-size: 0.7em;
  }

  .get-my-resume > p {
    margin: 10px;
    font-size: 18px;
    padding: 0;
  }

  .get-my-resume > a > i {
    padding-left: 10px;
  }

  .icons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    list-style: none;
    margin: 0;
  }

  .icons > li > a {
    color: rgb(255, 255, 255);
    display: inline-flex;
    text-decoration: none;
  }

  .icons > li > a > i {
    font-size: 28px;
  }

  .photo1-desktop {
    grid-area: ph1;
    position: absolute;
    left: 0;
    top: 0;
  }

  .photo2-desktop {
    grid-area: ph2;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .respmenu > nav > ul > li > a {
    text-decoration: none;
    color: #1a2236;
    font-size: 1.5vw;
  }
}
