// Color Pallete
$main-color: #fff;
$alt-bg: #f9f9fa;
$label-border: #e0e0e0;
$action-bg: #c4c4c4;
$light-txt: #7d7c84;
$badge-fill: #98dede;
$skll-fill: #febf52;
$fw-fill: #e2505c;
$lang-fill: #1c528a;
$secondary-color: #1a2236;

// Opacity
$burger-1: #fff4;
$burger-2: #fff2;
$burger-3: #fff1;
$sec-opacity: #1a2236f9;
$shadow: #0008;
